@charset "utf-8";

/* CSS Document */
section {
	justify-content: space-around;
	width: 750px;
	margin: 0 auto;
}
#info {
	float: left;
}
#info table {
	margin-bottom: 20px;
	border-collapse: separate;
	border-spacing: 5px 10px;
	font-size: 16px;
	color: #333;
	line-height: 1.8em;
	width: 530px;
}

#info h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #003;
}

#info td .date, .ttl {
	font-weight: bold;
	font-size: 18px;
	color: #003;
}
tr .date {
	font-size: 18px;
	font-weight: bold;
	color: #003;
	vertical-align: top;
}

#info td .ttl a {
	text-decoration: none;
	color: #003;
}



#info td .date {
	vertical-align: top;
}

aside p img {
	margin-bottom: 20px;
}

aside {
	float: left;
	margin-top: 50px;
}

#mainVisual{
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

#mainVisual ul{
	position:absolute;
	width:300%;
}

#mainVisual li{
	float: left;
	width: 750px;
	list-style-type: none;
}

#mainVisual img {
	max-width: 100%;
	height: auto;
}

button{
	transition:opacity .2s;
	border:none;
	background:none;
}
button:focus{
	outline:none;
}
button:hover{
	opacity:1;
}
#prevBtn{
	transform: transrateY(-50%);
	position:absolute;
	top:50%;
	left:15px;
}

#nextBtn{
	transform: transrateY(-50%);
	position:absolute;
	top:50%;
	right:15px;
}
@media only screen and (max-width:750px){
#mainVisual li {
	width: 100vw;
}
aside {
	clear:both;
	margin-top: 50px;
}
section{
	width: 100%;
}
}
@media only screen and (max-width:530px){
#info table{
	width: 100%;
}