@charset "utf-8";
/* CSS Document */

h2,table{
	font-family: "Sawarabi Mincho", "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	color: #333;
}
h2{
	font-size: 28px;
	text-align: center;
	margin: 15px auto;
	border: 1px solid #CCC;
	border-radius: 5px;
	width: 600px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.attention {
	font-family: "Sawarabi Mincho", "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	width: 100%;
	margin: 10px auto;
}

table{
	margin: 0 auto;
}
p.alert{
	font-weight:normal;
	color:#DC2900;
}
section{
	width: 600px;
	margin: 0 auto;
}
@media only screen and (max-width:750px){
section{
	width: 100%;

}
h2{
	width: 100%;
}
}